<nav id="menu">
	<!--<a class="close-button">{{t "Close"}}</a>-->
	<div class="nav-wrapper">
		<!--<p class="nav-label">{{t "Menu"}}</p>-->
		<ul>
			<li class="nav-home active" role="presentation"><a href="http://www.shivamkapoor.com"><i class="fas fa-home"></i>&nbsp; Home</a></li>
			<li class="nav-github" role="presentation"><a href="https://github.com/iamsmkr" target="_blank"><i class="fab fa-github-square"></i>&nbsp; Github</a></li>
			<li class="nav-linkedin" role="presentation"><a href="https://linkedin.com/in/iamsmkr" target="_blank"><i class="fab fa-linkedin"></i>&nbsp; LinkedIn</a></li>
			<li class="nav-subscribe" role="presentation"><a href="http://www.shivamkapoor.com/rss" target="_blank"><i class="fas fa-rss-square"></i>&nbsp; Subscribe</a></li>
		</ul>
	</div>
</nav>
