{{!< default}}

<style>#footer { display: none; }</style>

<header id="post-header">
	<div class="inner" style="position: relative;">
		<nav id="navigation">
		</nav>
		<a href="javascript:history.back()" class="post-go-back">Go Back</a>
		<h1 class="post-title">Bookshelf</h1>
	</div>
</header>

<main class="content" role="main">
	<article>
		<div class="inner">
			<section class="post-content">
				<div class="bookshelf-root">
					<div id="bookshelf-content"></div>
				</div>
			</section>
		</div>
	</article>
</main>

<script type="text/javascript" src="{{asset "js/bookshelf.js"}}"></script>
