{{!< default}}

<style>#footer { display: none; }</style>

<div class="tags-wrapper">
    <header id="post-header"{{#if feature_image}} class="has-cover" {{/if}}>
        <div class="inner">
            <nav id="navigation">
            </nav>
        </div>
    </header>
    <div id="canvas-container">
        <canvas id="word_cloud" class="word_cloud"></canvas>
    </div>
</div>

